# Vision & data
opencv-python-headless==4.9.0.80
numpy==1.26.4
pandas==2.2.1
Pillow==10.3.0

# OCR
easyocr==1.7.1

# Visualisatie
matplotlib==3.8.4
plotly==5.20.0
kaleido==0.2.1

# Deep learning
torch==2.2.2
torchvision==0.17.2

# Notebook
jupyter==1.0.0
ipykernel==6.29.4
